body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "tnum" on, "lnum" on;
    background-color: #e0e3eb;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media screen {

    *,
    :after,
    :before {
        box-sizing: border-box;
    }
}

.aggrid {
    width: 100%;
    height: 100vh;
}

.filter_panel {
    overflow: hidden;
}

.filter {
    width: 100%;
    height: 60px;
    margin-top: -3px;
}

.column_filter_wrapper {
    width: 100%;
    height: 100%;
}

.column_filter {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    overflow: hidden;
}

.filter_wrapper .column_filter:not(:first-child) {
    border-top: 1px solid #e0e0e0;
}

.searcher {
    text-align: start;
    width: 100%;
    min-height: 20px;
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-feature-settings: "tnum", "lnum";
    font-size: 13px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    color: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searcher:focus {
    border: none;
    outline: none;
}

.column_filter_wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.column_filter_items {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

.column_filter_item {
    margin: 4px 0px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stacrt;

    position: relative;

    color: #3e3d3d;
    font-weight: 600;
}

.input_column_name {
    text-align: start;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;

    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
    display: inline-block;
    position: relative;
    cursor: pointer;
    opacity: 1;
    width: 1px;
    height: 13px;
    margin-right: 15px;
}

input[type='checkbox']:checked:before,
input[type='checkbox']:not(:checked):before {
    content: '';
    position: absolute;
    left: -0.5px;
    top: -0.5px;
    width: 13px;
    height: 13px;
    border: 1px solid #b9bdc0;
    background-color: #ffffff;
    opacity: 1;
}

input[type='checkbox']:checked:after,
input[type='checkbox']:not(:checked):after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 1.5px;
    top: 1.5px;
    width: 9px;
    height: 9px;
    background-color: #b9bdc0;
}

input[type='checkbox']:not(:checked):after {
    opacity: 0;
}

input[type='checkbox']:checked:after {
    opacity: 1;
}

input[type='text'] {
    cursor: text;
}

.apply_button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    position: relative;
    margin: 0;
    margin-top: 5px;
}

.apply_button {
    position: relative;
    width: calc(50% - 2.5px);

    border: none;
    background-color: #eeeeee;
    color: #646464;

    font-size: 14px;
    font-weight: 500;
    padding: 2.5px;
    margin: 0;

    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.apply_button:hover {
    background: #cdcdcd;
}

.numeric_filter {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: start;
}

.date_filter {
    position: relative;
    text-align: start;
}

.name_filter {
    font-size: 13px;
    font-weight: 500;
    text-align: start;
    color: #3e3d3d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    position: relative;

    width: 100%;
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    outline: none;

    position: absolute;
    margin: 0;
    padding: 0 5px;
    top: 3px;
    bottom: 0;

    background-color: transparent;
    pointer-events: none;
}

.slider_track {
    width: calc(100% - 18px);
    height: 4px;

    position: absolute;
    margin: 0;
    left: 9px;
    top: 5.5px;
    bottom: 0;

    background: #d8d8d8;
    border-radius: 3px;

    cursor: pointer;
}

.input_slider1 {
    left: -4px;
}

.input_slider2 {
    right: -5px;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type='range']::-ms-track {
    appearance: none;
    height: 5px;
}

.input_slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 10px;

    border: 1px solid #666666;
    border-radius: 60% 0 0 60% / 50% 0 0 50%;
    background: #ffffff;

    pointer-events: auto;
    cursor: e-resize;
}

.input_slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 10px;

    border: 1px solid #666666;
    border-radius: 0 60% 60% 0 / 0 50% 50% 0;
    background: #ffffff;

    pointer-events: auto;
    cursor: w-resize;
}

.input_slider2:active {
    background-color: transparent;
    border: none;
    outline: none;
}

.values {
    position: relative;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: none;

    text-align: center;
}

.input_numeric_slider {
    border: 1px solid transparent;
    background: transparent;
    outline: none;

    width: 48%;
    padding: 2px 0px 2px 0px;
    margin: 0;

    color: #383838;
    font-weight: 400;
    font-size: 13px;
}

.input_date_slider {
    border: 1px solid transparent;
    background: transparent;
    outline: none;

    width: 48%;
    padding: 2px 0px 2px 0px;
    margin: 0;

    color: #383838;
    font-weight: 500;
    font-size: 11.5px;
}

.text_align {
    text-align: end;
}

.input_numeric_slider:focus {
    border: 1px solid #d0d0d0;
}

.cell {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    border-radius: 4px;
    margin: auto;
}

.cell *,
.label_cell * {
    display: inline;
    vertical-align: middle;
}

.label_cell {
    display: inline;
    vertical-align: middle;
}
